html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "VarelaRound", sans-serif;
  /* background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url("https://i.ibb.co/5hT2wbd/preview.jpg%E2%80%9D/");
  background-position: center; */
}

.child {
  height: 100%;
  width: 100%;
}

.Banner {
  position: relative; /* Establish a positioning context */
  height: 60%;
  width: 100%;
}

.BannerImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bannerOverlay {
  position: absolute; /* Position over the banner */
  top: 0; /* Adjust as needed */
  left: 0; /* Adjust as needed */
  width: 100%; /* Adjust as needed */
  height: 100%; /* Adjust as needed */
  background-color: rgba(
    0,
    0,
    0,
    0
  ); /* Example overlay color with transparency */
  display: flex;
  /* justify-content: center;
  align-items: center; */
  color: black; /* Example text color */
}

.sectionHeaders {
  font-size: 25px;
  margin: 20px;
  color: #8c7c9c;
}

.Intro {
  width: 30%;
  margin: 20px;
  padding: 20px;
  background-color: #fff0db;
  color: #5c867c;
  border-radius: 30px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.95),
      rgba(255, 255, 255, 0.95)
    ),
    url("https://i.ibb.co/5hT2wbd/preview.jpg%E2%80%9D/");
  background-position: center;
}

@font-face {
  font-family: "VarelaRound";
  src: url("./assets/VarelaRound-624M.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ProductDisplay {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 700px;
}

.ProductImageArea {
  width: 30%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.ProductTextArea {
  width: 30%;
  padding: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
}

.ProductImageArea img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.joinButtonDiv {
  margin-top: 40px;
  margin-right: 10px;
}

.joinButton {
  background-color: rgb(148, 122, 150);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.joinButton:hover {
  background-color: rgb(132, 113, 138);
  transform: scale(1.1);
}

.productTitle {
  margin-left: 20%;
}

.Summary {
  margin-left: 10%;
  margin-right: 10%;
}

.AdminDiv {
  margin-left: 10%;
  margin-right: 10%;
}

.Profile {
  margin-left: 10%;
  margin-right: 10%;
}

.purpleButton {
  background-color: rgb(148, 122, 150);
  color: white;
  height: 30px;
  width: 15%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin: 10px;
}

.purpleButton:hover {
  background-color: rgb(132, 113, 138);
  transform: scale(1.1);
}

.HostPage {
  margin-left: 10%;
  margin-right: 10%;
}
